@model EventSearch.Models.EventfulMain
@{
    Layout = null;
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />



<table class="table table-hover" id="Table1">
    <thead>
        <tr>
            <th>Event</th>
            <th>Address</th>
            <th>City</th>
            <th>Start Time</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in ViewBag.Model)
        {
            <tr>
                <td><a href="@item.url" target="_blank"><b>@item.title</b></a></td>
                <td>@item.venue_address</td>
                <td>@item.city_name</td>
                <td>@item.start_time</td>
            </tr>

        }
    </tbody>

</table>



@Html.PagedListPager((IPagedList)ViewBag.Model, page => Url.Action("Search", new { page }))


<style>
    #map {
        height: 600px;
        width: 1200px;
    }
</style>

<div class="row">
        <div id="map"></div>
        <script>
                var map;
                        function initMap() {
                            var latLng = new google.maps.LatLng(43.0389, -87.9065);
                            map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 14,
                                center: latLng
                            });
                                @foreach(var location in ViewBag.Model)
                                {
                                <text>
                    var eventName = "@location.title";
                      var loc = new google.maps.LatLng(@location.latitude, @location.longitude);
                      var marker = new google.maps.Marker({
                          map: map,
                          title: eventName,
                          position: loc
                            });
                            var content =
                                "<strong>" + "@location.title" + "</strong><br><br>" +
                                "@location.venue_address" + " " + "@location.city_name" + "<br><br>" +
                                "@location.description" + "<br>" +
                                "<a href='" + "@location.url" + "' target='_blank'>More Details</a><br>";                                ;

                            var infowindow = new google.maps.InfoWindow();
                            google.maps.event.addListener(marker, 'click', (function (marker, content) {
                                return function () {
                                    infowindow.setContent(content);
                                    infowindow.open(map, marker);
                                };
                            })(marker, content));
                                        </text>
                }
                }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPd_kaIJibv8PaW5y-FmYqXnxuD1jRT14&callback=initMap">
        </script>
    </div>

