@model EventSearch.Models.EventfulMain

@{
    ViewData["Title"] = "Home Page";
}


<table style="width:100%">
    <tr>
        <th>Event</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>

    @foreach (var item in Model.events.Event)
    {
        <tr>
            <td><a href="@item.url" target="_blank"><b>@item.title</b></a></td>
            <td>@item.start_time</td>
            <td>@item.stop_time</td>
        </tr>

        <tr>
            <td>@item.venue_address, @item.city_name, @item.region_name</td>
        </tr>

        <tr>
            <td>
                <p></p>
            </td>
        </tr>

    }
</table>